*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    margin-top: 15px;
    text-align: center;
    color: rgb(104, 189, 238);
    text-transform: uppercase;
}
.table-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
table{
    margin-top: 20px;
    box-shadow: 0.3px 0 4px 0.3px gray, 0 0.3px 4px 0.3px gray, -0.3px 0 4px 0.3px gray, 0 -0.3px 4px 0.3px gray;
    border-collapse: collapse;
    background-color: #cecece;
    
}
td{
    padding: 8px 26px;
    cursor: pointer;
    text-align: center;
    
}
.row1 th,.row2 td,.row3 td,.row4 td,.row5 td,.row6 td,.row7 td,.row8 td,.row9 td,.row10 td,.row11 td{
    border: 3px solid #f0f0f5;
    
}
.row2 td,.row3 td,.row4 td,.row5 td,.row6 td,.row7 td,.row8 td,.row9 td,.row10 td,.row11 td{
    background-color: white;
}
td:hover{
    background-color: rgb(76, 110, 184);;
}
td:active{
    opacity: 0.8;
}
/* Output Container Styling */
th{
    padding: 4px 14px;
}

.output-div{
    width: 100%;
    height: 80px;  
    text-align: right;
    background-color: white;
    align-items: center;
    
}
    
    

.operation{
    font-size: 38px;
    
}
/* .result{
    height: 32px;
} */
th{
    text-align: left;
}
/* Trigonometry Styling */
.trigonometry{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trigonometry img{
    width: 16px;
}
.trigonometry span{
    font-size: 14px;
}
.trigonometry i{
    font-size: 16px;
}
/* Dropdown Styling */
.dropdown{
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 70%;
}
.dropdown-content div{
    padding: 5px 0;
}
.dropdown-content div:hover{
    background-color: rgb(119, 140, 184);;
}
.dropdown:hover .dropdown-content{
    display: block; 
}
/* Function Styling */
.function{
    display: flex;
    justify-content: center;
    align-items: center;
}
.function .span1{
    font-size: 16px;
    font-style: italic;
}
.function .span2{
    font-size: 14px;
}
.function i{
    font-size: 16px;
}
/* MC, MR Styling */
.off-MC-MR{
    opacity: 0.2;
}
.on-MC-MR{
    opacity: 1;
}
/* Delete, Division, Minus, Plus, Equal styling */
#backspace{
    font-size: 16px;
}
.division{
    font-size: 22px;
}
.minus{
    font-size: 22px;
}
.plus{
    font-size: 22px;
}
.equal{
    font-size: 22px;
}